/*
 *布局公共变量
 */
// 响应式布局宽度
$media =(9999 1400) (1800 1200) (1400 950) (1000 750) (600 500)

// 背景颜色
$layoutC = ('body' #f7f7f7) ('header' #333) ('main' #f7f7f7) ('footer' #e4e4e4)

// 高度
$layoutH = ('header' 3em) ('footer' 5em)

// 文本行高
$line-height = 1.5

$baseC = #58a